name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: just install

      - name: Run checks
        run: just check

  tests-and-type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: just install

      - name: Run tests
        run: just test-report

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: just install

      - name: Check if documentation can be built
        run: just docs-test
