name: release-main

on:
  push:
    tags:
      - v*

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup_environment

      - name: Cache virtual environment
        uses: actions/cache/save@v4
        with:
          path: .venv
          key: venv-release-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}

  publish:
    runs-on: ubuntu-latest
    needs: setup
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Setup tools
        uses: ./.github/actions/setup_just_and_uv

      - name: Restore virtual environment
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-release-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}

      - name: Build and test package
        run: just build

      - name: Publish package
        run: just publish

  deploy-docs:
    needs: [setup, publish]
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Setup tools
        uses: ./.github/actions/setup_just_and_uv

      - name: Restore virtual environment
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-release-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}

      - name: Deploy documentation
        run: just docs-test && just docs-deploy
