name: release-main

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up tools
        uses: ./.github/actions/setup_just_and_uv

      - name: Build and test package
        run: just build

      - name: Publish package
        run: just publish

  deploy-docs:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup_environment

      - name: Deploy documentation
        run: just docs-test && just docs-deploy
